<div class="container">
  <div class="list">
    <button
      [ngClass]="{ shake: collapsed, reset: init && !collapsed }"
      (click)="toggle(menu)"
    >
      <span [ngClass]="{ rotate: collapsed, reset: init && !collapsed }"
        >+</span
      >
    </button>
    <div class="menu" #menu>
      <span style="background-color: #ffcf7d"></span>
      <span style="background-color: #ffa67f"></span>
      <span style="background-color: #c09cfe"></span>
      <span style="background-color: #04d9ff"></span>
      <span style="background-color: #e8f19b"></span>
    </div>
  </div>
  <svg>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
      <feColorMatrix
        in="blur"
        mode="matrix"
        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
      />
      <feBlend in="SourceGraphic" in2="goo" />
    </filter>
  </svg>
</div>
